<nav id="sidebar-menu" class="sidebar">
    <ul>
        <li>
          <a href="./index.html" tabindex="0" data-page="index">
            <span>Home page</span>
          </a>
        </li>
        <li>
          <a href="./how-to.html" tabindex="0" data-page="how-to">
            <span>How to use the tool</span>
          </a>
        </li>
        <li>
          <a href="./model.html" tabindex="0" data-page="model">
            <span>Create a model</span>
          </a>
        </li>
        <li>
          <a href="./scenario.html" tabindex="0" data-page="scenario">
            <span>Create a scenario</span>
          </a>
        </li>
        <li>
          <a href="./visualise.html" tabindex="0" data-page="visualise">
            <span>View results</span>
          </a>
        </li>
        <li>
          <a href="./report.html" tabindex="0" data-page="report">
            <span>Download a report</span>
          </a>
        </li>
        <li>
          <a href="./upload.html" tabindex="0" data-page="upload">
            <span>Upload previous models</span>
          </a>
        </li>
        <li>
          <a href="./reference.html" tabindex="0" data-page="reference">
            <span>Using the reference models</span>
          </a>
        </li>
        <li>
          <a href="./definitions.html" tabindex="0" data-page="definitions">
            <span>Learn about DiAGRAM</span>
          </a>
        </li>
        <li>
          <a href="./advanced.html" tabindex="0" data-page="advanced">
            <span>Advanced customisation</span>
          </a>
        </li>
        <li>
          <a href="./glossary.html" tabindex="0" data-page="glossary">
            <span>Glossary</span>
          </a>
        </li>
    </ul>
  </nav>