/**
 * Accessibility
 */

a {
  text-decoration: underline;
  color: #337ab7;
}

a:hover {
  text-decoration: underline;
  color: #23527c;
}


/**
 * Fonts
 */

html, body {
  font-family: "Open Sans", sans-serif;
  /*font-size: 16px;
  line-height: 1.6;*/
  color: #26262a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.box-body h1,
.box-body h2,
.box-body h3,
.box-body h4,
.box-body h5,
.box-body h6 {
    color: #26262A;
}

.question-title, .question-prefix {
  font-family: 'Roboto Mono', monospace;
}

.main-header .logo {
  font-family: 'supria-sans-condensed', sans-serif;
}

h2.main-title {
  font-family: 'supria-sans-condensed', sans-serif;
}

/**
 * Colours
 */

/* Sidebar */
.skin-purple .left-side, .skin-purple .main-sidebar, .skin-purple .wrapper {
  background-color: #26262A;
  background-color: #8C9694;
    background-color: #555555;
  color: #8C9694;
}

/* Header */
.skin-purple .main-header .logo {
    background-color: #555299;
  background-color: #8C9694;
  background-color: #26262A;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-purple .main-header .logo:hover {
  background-color: #8C9694;
  background-color: #26262A;
}
.skin-purple .main-header .navbar {
    background-color: #605ca8;
  background-color: #8C9694;
  background-color: #26262A;
}
.skin-purple .main-header .navbar .sidebar-toggle:hover {
  background-color: #26262A;
    background-color: #D9D9D6;
    color: #26262A;
}
.skin-purple .sidebar a {
    color: #D9D9D6;
    color: #fff;
}
.skin-purple .sidebar-menu>li.active>a, .skin-purple .sidebar-menu>li:hover>a {
    color: #26262A;
    background-color: #D9D9D6;
    border-left-color: #D9D9D6;
}

/* Body */
.content-wrapper, .right-side {
    background-color: #ecf0f5;
    background-color: #F9F7E2;
  background-color: #fff;
}

/* Blocks */
.box {
  background-color: #F9F7E2;
  background-color: #D9D9D644;
  color: #26262A;
  margin-bottom: 20px;
  border: solid 1px #555;
  border-width: 1px 1px 1px 5px;
    max-width: 1100px;
    margin: 0 auto 2rem auto;
}
.box .box-body {
    color: #26262A;
    padding: 1rem 2rem;
}
.box .box {
    background-color: #fff;
    color: #26262A;
}
.box .box .box-header {
    background-color: #F9F7E2;
    color: #26262A;
}
.box .box .box-body {
    background-color: #F9F7E299;
    color: #26262A;
}
.bg-blue {
    background-color: #8C9694 !important;
    color: #26262a !important;
}
.bg-yellow {
    background-color: #F9F7E2 !important;
    color: #26262a !important;
}
.bg-orange {
    background-color: #F9E1BC !important;
    color: #26262a !important;
}
.bg-green {
    background-color: #DDE5D5 !important;
    color: #26262a !important;
}
.bg-purple {
    background-color: #8C9694 !important;
    color: #D9D9D6 !important;
}
.bg-red {
    background-color: #FAD3D4 !important;
    color: #26262a !important;
}
.bg-black {
    background-color: #26262a !important;
    color: #D9D9D6 !important;
}

/**
 * Box Header
 */
.box-header {
    background-color: #0001;
}

/**
 * Buttons
 */

.btn {
    border: solid 1px #333;
    background-color: #444;
    border-radius: 0;
    color: #fff;
}

.btn-green {
    background-color: #a8dea8 !important;
    /*border-color: #DDE5D5 !important;*/
    color: #26262a !important;
    border-radius: 0;
}
.btn-green:hover {
    background-color: #DDE5D567 !important;
    background-color: #a8dea867 !important;
    /*border-color: #26262a;*/
}

.btn-orange {
    background-color: #F9E1BC !important;
    /*border-color: #F9E1BC !important;*/
    color: #26262a !important;
    border-radius: 0;
}
.btn-orange:hover {
    background-color: #F9E1BC67 !important;
    /*border-color: #26262a;*/
}

/**
 * Nav Toggle
 */

.sidebar-collapse .main-header .sidebar-toggle:before {
    content: "\f0c9" !important; /* hamburger */
    content: "\f101" !important; /* double-right */
}

.main-header .sidebar-toggle:before {
    content: "\f00d" !important; /* cross */
    content: "\f100" !important; /* double-left */
}

/**
 * Footer
 */

.main-footer {
  text-align: center;
}
.main-footer span {
  color: #999;
}

/** Tests
 */
.skin-purple .left-side, .skin-purple .main-sidebar, .skin-purple .wrapper {
    background-color: #D9D9D644;
}

.skin-purple .sidebar-menu>li>a {
    background-color: #26262A;
    margin: 5px 5px;
    border-left: none;
}

.skin-purple .sidebar-menu>li.active>a, .skin-purple .sidebar-menu>li:hover>a {
    color: #26262A;
    background-color: #fff;
    border-left: none;
    box-shadow: inset 0 0 0 3px #000;
    /*margin: 0 3px;*/
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
    margin: 2px 0;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span {
    border: solid 1px #000;
}

/**
 * Logos
 */

div.logos {
  background-color: #fff;
  text-align: center;
}

/**
 * Question Headers
 */

.question-header-name {
    width: 38%;
    padding: 0 1rem;
}

/**
 * Sliders
 */

/*.customSliderTriple > div > div {
  display: flex;
}
.customSliderTriple .react-slider {
  flex-grow: 5;
}
.customSliderTriple .react-tbox {
  flex-grow: 1;
}
.customSliderTriple .react-content {
  flex-grow: 15;
}*/

.customSliderTriple .react-slider {
  display: inline-block;
  vertical-align: middle;
  max-width: 25%;
  min-width: 20%;
  padding-right: 1.5rem;
}
.customSliderTriple .react-tbox {
  display: inline-block;
  vertical-align: middle;
  padding-top: 2%;
  max-width: 10%;
  margin-left: .5rem;
}
.customSliderTriple .react-content {
  display: inline-block;
  vertical-align: middle;
  padding-top: 2%;
  max-width: 62%;
  margin-left: 1rem;
}

hr {
    border-top: solid 3px #444;
}

thead {
    font-weight: bold;
    border-bottom: solid 2px #000;
}
td, th {
  padding: 0 0.5rem;
}
tbody tr {
    border-bottom: solid 1px #999;
}
button.btn.radiobtn {
    height: 6rem;
    white-space: normal;
}

.dataTables_wrapper {
    margin: 2rem;
}

.handsontable {
    margin: .5rem 0;
}
