#createModel {
  background-color: green;
  color: white;
  width: 30%;
}

#create-model-button-container {
  text-align: center;
}

.selectize-input { 
  font-size: 15px;
  line-height: 15px;
}

.selectize-dropdown {
  font-size: 15px;
  line-height: 15px;
}

#uploadCustomModel {
  background-color: green;
  color: white;
}

#SimpleViewPolicyPrevious {
  background-color: grey;
  color: white;
}

#SimpleViewPolicyNext {
  background-color: green;
  color: white;
}

#SimpleViewAddPolicy { 
  background-color: green;
  color: white;
}

#SimplePolicyReset {
  background-color: gray;
  color: white;
}

#simple-policy-reset-container {
  float: right;
}

#RemovePolicy {
  background-color: red;
  color: white;
}

#remove-policy-container {
  float: right;
}

#networkReset {
  background-color: gray;
  color: white;
}

#updateProb {
  background-color: green;
  color: white;
}

#addPolicy {
  background-color: green;
  color: white;
}

#addModelAdvanced {
  background-color: green;
  color: white;
}

#Download {
  background-color: green;
  color: white;
}


